@import url('variables.css');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    background-color: var(--clr-surface-a0);
    min-width: 375px;
}

p {
    font-size: 16px;
    color: var(--clr-light-a0);
    overflow-wrap: break-word;
    margin: 0;
}

h1 {
    font-size: 40px;
    color: var(--clr-primary-a0);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 30px;
    color: var(--clr-primary-a20);
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    width: max-content;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0;
}

thead {
    font-size: 16px;
    color: var(--clr-primary-a20);
    border-bottom: 2px solid var(--clr-primary-a0);
}

tbody {
    font-size: 16px;
}

.container {
    background-color: var(--clr-surface-a10);
    container-type: inline-size;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 60%;
    min-width: 370px;
    max-width: 1100px;
    z-index: 1;
    padding: 0.5rem;
}

@media (max-width: 375px) {
    .container {
        width: 100%;
    }
}