@import url('variables.css');

#refresh-button {
    color: var(--clr-light-a0);
    padding-left: 12rem;
    font-size: 32px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.leaderboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: relative;
    margin-bottom: 1rem;
}

.create-game-container nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    width: 100%;
}

.create-game-container button {
    background-color: transparent;
    border: 2px solid var(--clr-success-a0);
    color: var(--clr-success-a0);
    font-weight: bold;
    height: 2rem;
    border-radius: 5px;
}

.input-container input {
    flex: 1;
    color: var(--clr-light-a0);
    background-color: var(--clr-surface-a20);
    border: none;
    font-size: 1rem;
    height: 2rem;
    border-radius: 0.25rem 0 0 0.25rem;
}

.input-container button {
    color: var(--clr-success-a0);
    border-top: 2px solid var(--clr-success-a0);
    right: 0;
    border: none;
    justify-content: center;
    background-color: transparent;
}

.input-container {
    display: none;
    position: absolute;
    background-color: var(--clr-surface-a10);
    border: 2px solid var(--clr-success-a0);
    border-radius: 5px;
}


.join-game-selector {
    position: relative;
    display: inline-block;
    width: 15rem;
    z-index: 10;
}

.join-game-selector:hover .input-container {
    display: block;
}

.join-game-selector:hover #join-game {
    border-top: 2px solid var(--clr-success-a10);
    color: var(--clr-success-a20);
    border-radius: 0;
}

.leaderboard-container {
    width: 60%;
    min-width: 350px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.leaderboard-container table {
    border: 2px solid var(--clr-warning-a10);
    justify-content: center;
    padding: 0.5rem;
}


thead tr {
    color: var(--clr-primary-a30);
}

tbody tr {
    color: var(--clr-light-a0);
    text-align: center;
}

@container (min-width: 1100px) {
    #start-game {
        display: none;
    }

    .gamemodes {
        display: flex;
        flex-direction: row;
        height: 2rem;
        width: max-content;
    }

    .gamemodes a {
        color: var(--clr-success-a0);
        font-size: small;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid var(--clr-success-a0);
        border-radius: 0.25rem;
        margin-right: 0.5rem;
        padding: 0.5rem 0.5rem;
    }

    .gamemodes a span {
        padding-right: 0.25rem;
    }
}

@container (max-width: 1099px) {
    .new-game-selector {
        position: relative;
        display: inline-block;
        z-index: 10;
    }


    .gamemodes {
        display: none;
        position: absolute;
        background-color: var(--clr-surface-a10);
        border: 2px solid var(--clr-success-a0);
        border-radius: 5px;
    }

    .gamemodes a {
        color: var(--clr-light-a0);
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        width: 15rem;
        height: 2rem;

    }

    .gamemodes a span {
        margin-left: 10px;
    }

    .gamemodes a:hover {
        background-color: var(--clr-success-a0);
    }

    .new-game-selector:hover .gamemodes {
        display: block;
    }


    .new-game-selector #start-game:hover {
        color: var(--clr-success-a10);
    }
}